:host ::ng-deep mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

:host ::ng-deep mat-sidenav{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 270px;
}

:host ::ng-deep mat-sidenav-content {
    background: linear-gradient(rgb(192, 49, 49), rgb(255, 204, 153));
}