<mat-sidenav-container>
    <mat-sidenav #drawer mode="over" opened="false" position="end" role="navigation">
        <div class="close-button-wrapper">
            <div class="close-button pointer" *ngIf="this.sidenavService.isOpened()" (click)="this.sidenavService.close()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <mat-nav-list>
            <app-menu-list-item *ngFor="let item of this.navItems" [item]="item"></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <router-outlet style="margin-top:60px"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
