<div style="display: flex; flex-direction: column; justify-content: center; text-align:center; font-size: 18px; color: #fff;">
    <div class="pointer" style="position:relative; border-collapse: collapse; margin: 10px;height: 10rem; width: 10rem; border-radius: 50%; border: 8px #fff solid; overflow: hidden;">
        <img height="100%" width="100%" style="opacity: 0.6;"
    src="https://cdn1.home24.net/images/media/catalog/product/792x792/png/b/u/buerodrehstuhl-marilyn-kunstleder-weiss-4109000.webp"/>
        <div style="text-align: center; width: 100%; position: absolute; top: 40%; z-index: 9;">{{button.label}}</div>
    </div>
    <div style="margin-left: 12px; margin-right: 12px; border-bottom: 8px #fff solid; border-radius: 5px;"></div>
    
</div>


