.header-bar {
    height: 60px;
    display: flex;
    width: 100%;
    color: #fff;
    z-index: 3;
}

.header-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo {
    margin-left: 0.75rem;
}



.open-button:hover {
    background-color: rgb(196, 107, 107);
}

.close-button {
    color: rgb(192, 49, 49);
}

.close-button:hover {
    color: rgb(196, 107, 107);
}

.title { 
    margin-left : 0.75rem;
    font-size: 30px;
}