<div class="header-bar">
    <div class="ml-3 header-element">
        <div class="header-logo"><img class="logo-img" src="assets/logo/LesCo_Logo_CMJN.png"/></div>
        
    </div>
    <nav class="mx-auto d-none d-md-block">
        <ul class="h-100">
            <li class="h-100 pointer" *ngFor="let item of this.navItems">
                <span class="menu-header-item" (click)="this.navigationService.onItemSelected(item)">{{item.name}}</span>
            </li>
        </ul>
    </nav>
    <div class="open-button-wrapper header-element">
        <div class="d-md-none open-button pointer" *ngIf="!this.sidenavService.isOpened()" (click)="this.sidenavService.open()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>
</div>