.header-bar {
    height: 60px;
    position: fixed;
    display: flex;
    width: 100%;
    color: #fff;
    z-index: 9;
}

.header-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo {
    margin-left: 0.75rem;
}

.right-menu-button-wrapper {
    margin-right: 1rem;
    margin-left: auto;
}

.right-menu-button {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
}

.open-button:hover {
    background-color: rgb(196, 107, 107);
}

.close-button {
    color: rgb(192, 49, 49);
}

.close-button:hover {
    color: rgb(196, 107, 107);
}

.title { 
    margin-left : 0.75rem;
    font-size: 30px;
}