.header-bar {
    height: 65px;
    background-color: rgb(168, 38, 38);
    position: fixed;
    display: flex;
    width: 100%;
    color: #fff;
}

.header-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo {
    margin-left: 0.75rem;
}

.right-menu-button-wrapper {
    margin-right: 1rem;
    margin-left: auto;
}

.right-menu-button {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.right-menu-button:hover {
    background-color: rgb(196, 107, 107);
}

.title { 
    margin-left : 0.75rem;
    font-size: 30px;
}