html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.right-menu-button-wrapper {
    margin-right: 1rem;
    margin-left: auto;
}

.right-menu-button {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
}