<div class="d-flex w-100">
    <div style="margin: auto; display: flex; width: 40%; justify-content: center; flex-direction: column; text-align: center;">
        <h1>Un espace hors du commun</h1>
        <div>Ne négligez pas l'influence que peut avoir les éléments qui vous entourent. Se sentir bien dans un environnement vous permettra de travailler dans les meilleures conditions possibles.</div>
    </div>
    <div class="d-flex w-50 m-auto justify-content-center">    
        <div style="display: flex; height:450px; min-width:450px; position: relative;">
            <div style="position:absolute; left: 0; top: 0; text-align: center;">
                <h2>Vous recherchez...</h2>

                <div class="rond">
                    <ul>
                        <li class="light">calme/concentration</li>
                        <li class="medium">confidentialité</li>
                        <li class="mediumdark">échanges</li>
                        <li class="dark">l'espace</li>
                    </ul>
                </div>
            </div>

            <div style="position:absolute; bottom: 0; right: 0; text-align: center;">
                <div class="rond">
                    <ul>
                        <li class="light">bureaux fermés</li>
                        <li class="medium">salles de réunion</li>
                        <li class="mediumdark">bureaux ouverts et espace détente</li>
                        <li class="dark">salles de réunion</li>
                    </ul>
                </div>
                <h2>Nous proposons...</h2>
            </div>
        </div>
    </div>

</div>



